---
const { post, date } = Astro.props;
---

<li class="flex flex-col sm:flex-row cursor-pointer sm:h-28 mb-4">
  <a href={`/blog/${post.slug}`}>
    <div class="w-full h-48 sm:h-full sm:w-48 image-placeholder">
      <img
        src={'/public/images/placeholder.png'}
        data-src={post.frontmatter.image}
        alt="image"
        class="w-full h-full object-cover object-center lazy-loaded-image lazy"
      />
    </div>
    <div class="flex flex-col justify-items-stretch sm:pl-2">
      <div class="title flex-1">
        {
          post.frontmatter.external ? (
            <a
              href={post.frontmatter.url}
              target="_blank"
              class="unset
              transition-[background-size] duration-300 
              bg-gradient-to-r bg-left-bottom bg-no-repeat
              bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
              from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
            >
              <span>{post.frontmatter.title}</span>
              <span>
                <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
              </span>
            </a>
          ) : (
            <a
              href={`/blog/${post.slug}`}
              class="unset
              transition-[background-size] duration-300 
              bg-gradient-to-r bg-left-bottom bg-no-repeat
              bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
              from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
            >
              {post.frontmatter.title}
            </a>
          )
        }
      </div>
      <div class="text-text-muted text-sm italic justify-self-end">
        <time datetime={post.frontmatter.date.toISOString()}>
          {date}
        </time>
      </div>
    </div>
  </a>
</li>
