---
const { post } = Astro.props;
const image = `${post.attributes?.cover?.data?.attributes?.formats?.small?.url}`;
const tags = post.attributes.tags?.data?.map((tag: any) => tag.attributes.name);
---

<div
  class="w-full flex-col p-4 rounded-lg cursor-pointer hover:shadow-2xl dark:hover:bg-slate-800 transition-all shadow-lg"
>
  <a href={`/blog/${post.attributes.slug}`}>
    <div class="w-full h-56 image-placeholder">
      <img
        src={"https://fakeimg.pl/200x100?text=LOADING..."}
        data-src={image}
        loading="lazy"
        alt="image"
        class="w-full h-full object-cover rounded-lg lazy-loaded-image lazy not-prose"
      />
    </div>
    <div class="flex flex-col p-2 h-48">
      <div class="flex">
        <h2 class="unset text-xl margin-0 not-prose">
          {post.attributes.title}
        </h2>
      </div>
      <p
        class="flex flex-1 text-sm font-thin dark:text-gray-600 text-gray-500 mt-2"
      >
        {post.attributes.description}
      </p>
      <div class="flex mt-4 flex-wrap">
        {
          tags?.map((tag) => {
            return (
              <span class="text-xs text-gray-500 dark:text-gray-400 mr-1 mb-2 px-4 py-2 border border-slate-300 dark:border-slate-700 rounded-lg">
                {tag}
              </span>
            );
          })
        }
      </div>
    </div>
  </a>
</div>
