---
import ReadMore from "./ReadMore.astro";
import Markdoc from '@markdoc/markdoc';


type Props = {
  article: any;
};

const { article } = Astro.props;

const cover = `${import.meta.env.STRAPI_URL}${article.attributes.cover?.data?.attributes.url}`;
const ast = Markdoc.parse(article.attributes.content);
const content = Markdoc.transform(ast, /* config */);
const html = Markdoc.renderers.html(content);
---

<div class="flex flex-col">
  <img src={cover} alt={article.attributes.title} class="w-full h-96 object-cover mb-4" />
  <Fragment set:html={html} />
  <ReadMore tags={article.attributes.tags.data.map((tag: any) => tag.attributes.name)} slug={article.attributes.slug} />
</div>
